// Fuentes
$fuente_principal: 'Raleway', sans-serif;

// Tamaño de Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colores
$color-white_E7E7EB: #E7E7EB;
$color-gray_A09FB1: #A09FB1;
$color-gray_88869D: #88869D;
$color-gray_6E707A: #6E707A;
$color-gray_585676: #585676;
$color-blue_1E213A: #1E213A;
$color-blue_100E1D: #100E1D;
$color-blue_3C47E9: #3C47E9;
$color-yellow_FFEC65: #FFEC65;

//separación
$separacion: .8rem;

// Fuentes
$regular: 500;
$semibold: 600;
$bold: 700;